Source: ros-hydro-multinav-concert
Section: misc
Priority: extra
Maintainer: Jihoon Lee <jihoonlee.in@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-multinav-concert
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-concert-conductor, ros-hydro-concert-orchestra, ros-hydro-kobuki-softapps, ros-hydro-map-server, ros-hydro-robot-pose-publisher, ros-hydro-rocon-app-manager, ros-hydro-rocon-tf-reconstructor, ros-hydro-rviz, ros-hydro-yujin-maps
Description: Launchers and configuration for the multinav concert.
